<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .h2-Header {gi
            color: red
        }
    </style>
</head>
<body>
<div>
    <h1 id="h1-Header">The biggest Header</h1>
    <h2 class="h2-Header">Header</h2>
    <p> Just a text <span style="color: green">text</span> </p>
    <a href="https://google.com"> Link </a>
    <a href="https://google.com" target="_blank"> Link for new Tab </a>
    <img alt="browser.png" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwstYV83lLf31ZY92oOfMSQVLz6uKkZyTi8Q&s" style="width: 300px">
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ul>
    <ol>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
    </ol>
    <form action="/action" method="POST">
        <input type="email" placeholder="Email">
        <input required type="password" placeholder="Password">
        <textarea placeholder="Text">Type smth here</textarea>
        <button type="submit">Button</button>
    </form>
    <table>
        <thead>
        <tr>
            <td>Row1</td>
            <td>Row2</td>
            <td>Row3</td>
        </tr>
        </thead>
        <tbody>
            <td>Item1</td>
            <td>Item2</td>
            <td>Item3</td>
        </tbody>
    </table>

        </tbody>
    </table>
</div>
</body>
</html>